form {
    display: flex;
    flex-direction: column;
}

.add, .editTask {
    display: flex;
    flex-direction: column;
    width: 75vw;
    align-items: center;
}

.editTask {
    display: none;
}

.formCategoryDiv {
    width: 75vw;
    display: flex;
    flex-direction: column;
}

.formCategory label {
    display: flex;
    flex-direction: column;
}

.formCategory input {
    height: 2em;
}