nav ul li a {
    text-align: center;
    letter-spacing: 0.7px;
    color: black;
    text-decoration: none;
    line-height: 2em;
    width: 20vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px #707070 solid;
    border-bottom: 1px #707070 solid;
}

li i {
    font-size: 1em;
    display: inline-block;
}

li {
    margin-bottom: 0.5em;
    text-align: left;
}

nav ul li a p {
    display: inline-block;
    margin: 0;
    padding-left: 1em;
}

li:first-child {
    margin-top: 0.5em;
}

li:hover, .logout:hover {
    background: #AAAAAA;
}

ul {
    list-style-type: none;
    font: normal normal normal 30px/44px Segoe UI;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

nav ul li a i {
    width: 1em;
    margin-left: 0.5em;
}