form {
    display: flex;
    flex-direction: column;
}

.formTask {
    display: none;
    width: calc(75vw - 4em);
    padding: 2em;
    flex-direction: column;
}

.formTask > label, .formTask > div {
    width: 100%;
    padding-bottom: 0.5em;
}

.formTask > label > input, .formTask > label > textarea {
    width: 100%;
}

.formTask > label > textarea {
    height: 5em;
}

.formTask > input {
    width: 30%;
    align-self: center;
}

.making_time {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}

.making_time > div {
    width: calc(100% / 3);
    display: flex;
}

.making_time > div > label {
    display: flex;
    width: 100%;
}

.making_time > div > label > input {
    width: 90%;
    margin: 0 0.5em 0 0.5em;
}