.task, .user {
    align-items: flex-start;
    border-bottom: 1px black solid;
    margin-bottom: 2em;
    margin-left: 0.5em;
}
.task p, .user p {
    padding: 0.2em;
    margin: 0;
}
.task > div {
    display: flex;;
    justify-content: flex-end;
    width: 75vw;
}
.task button, .user button {
    width: 10vw;
    padding: 0.5em;
    margin-right: 5em;
}