.matrix > div:not(:last-child) {
    overflow: auto;
    padding: 1em;

    flex-shrink: 0;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    margin: 0.5em;

    border-radius: 20px;

    cursor: pointer;
}

.matrix > div:nth-child(1) {
    background: linear-gradient(to right, #32bbe9, #90e36d);
}

.matrix > div:nth-child(2) {
    background: linear-gradient(to bottom, #90e36d, #ec878f);
}

.matrix > div:nth-child(3) {
    background: linear-gradient(to top, #eed785, #32bbe9);
}

.matrix > div:nth-child(4) {
    background: linear-gradient(to left, #ec878f, #eed785);
}

.matrix > div:last-child {
    display: flex;
    flex-direction: column;
    width: 75vw;
    align-items: center;
}

.matrix > div > div {
    padding: 0.5em;
    border-radius: 1em;
    /*margin-bottom: 0.5em;*/

    flex-shrink: 0;
    margin: 20px;
    border: calc(8px + 0.2vw) solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}