.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 55vh;
    background-color: #919191;
    border: 1px #919191 solid;
    border-radius: 40px;
    padding: 2em;
    align-self: center;
    overflow: auto;
    min-height: 500px;
}

.login-container header {
    width: 60vw;
}

.login-container form {
    margin-top: 1em;
    display: flex;
    width: 30vw;
    border: 1px #EEEEEE solid;
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: 2em;
    flex-direction: column;
}

.login-container form label {
    align-items: stretch;
    width: 100%;
    padding-bottom: 0.5em;
}

.login-container form label input {
    width: 100%;
}

.login-container form input {
    width: 50%;
}

@media only screen and (max-width: 500px) {
    .login-container {
        width: 100vw;
        border-radius: 0;
    }
}

@media only screen and (max-height: 900px) {
    .register-container {
        height: 80vh;
    }
}

@media only screen and (max-height: 700px) {
    .register-container {
        height: 100vh;
    }
}