header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: #919191;
}

.main header {
    width: 80vw;
}

header img {
    height: 100%;
}