.matrix {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.matrix > div > .task, .matrix > div > .searchbar, .matrix > div > .editTask {
    margin: 1em 0 1em 1em;
}

.returnButton {
    height: 3em;
    width: 10em;
    position: absolute;
    top: -100%;
    right: 0;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    line-height: 3em;
    margin: 1em;
    padding: 1em;
    background-color : white;
}

.returnButton:hover {
    background-color : #d4713c;
    color: white;
}