nav {
    width: 20vw;
    height: 100vh;
    background: #EEEEEE;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: static;
}

ul {
    display: flex;
    flex-direction: column;
}

.logout {
    border: 1px black solid;
    border-radius: 10px;
    text-align: center;
    height: 60px;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    nav {
        display: none;
    }

    section, .main header {
        width: 100vw;
    }
}

@media only screen and (max-width: 400px) {
    section, .main header {
        width: 400px;
    }
}

@media only screen and (max-height: 450px) {
    section {
        height: 450px;
    }

    .main header {
        display: none;
    }
}